#components-form-demo-normal-login .login-form {
	max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
	float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
	float: left;
}
#components-form-demo-normal-login .login-form-button {
	width: 100%;
}
.gutter-box {
	padding: 8px 0;
	background: #00a0e9;
}
:root {
	--text-header: #312f39;
	--sub-background: #a6b3c8;
	--background-color: #0936c5;
	--btn: #0936c5;
	--text-white: #eef2f6;
	--text-white-mute: #7986ae;
}
body {
	background-color: var(--text-white);
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	color: #2690d4;
	background-color: #000;
	width: 100%;
}
