:root {
	--text-header: #312f39;
	--sub-background: #a6b3c8;
	--background-color: #0936c5;
	--btn: #0936c5;
	--text-white: #eef2f6;
	--text-white-mute: #7986ae;
}
a {
	text-decoration: none;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.nav {
	display: flex;
	height: 80px;
	width: 100vw;
	padding: 0px 64px;
	justify-content: space-between;
}
.nav .branding img {
	height: 80px;
	flex: 2;
}
.nav .menu {
	flex: 3;
	display: flex;
	height: inherit;
	align-items: center;
	justify-content: flex-end;
}
.nav .menu li {
	margin: 0px 3rem;
}
.nav .menu li a:first-child {
	color: var(--text-white);
	font-size: 1.2rem;
	font-weight: 500;
}

.nav .menu li .btn {
	width: 4.8rem;
	border: 2px solid var(--text-white);
	border-radius: 2px;
	padding: 2px 14px;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
}
.nav .menu li .btn a {
	color: var(--background-color);
	font-size: 1rem !important;
}

@media screen and (max-width: 740px) {
	.nav .menu li {
		margin: 0px 2.2rem;
	}
}
@media screen and (max-width: 700px) {
	.nav .menu li {
		margin: 0px 1.8rem;
	}
	.nav {
		padding: 0px 32px;
	}
}
@media screen and (max-width: 620px) {
	.nav .menu li {
		margin: 0px 1rem;
	}
	.nav .menu li .btn {
		width: 4rem;
		padding: 2px 8px;
	}
}
@media screen and (max-width: 540px) {
	.nav {
		padding: 0px 16px;
	}
	.nav .menu li {
		margin: 0px 8px;
	}
}
@media screen and (max-width: 500px) {
	.nav {
		display: none;
	}
}
