:root {
	--text-header: #312f39;
	--sub-background: #a6b3c8;
	--background-color: #0936c5;
	--btn: #0936c5;
	--text-white: #eef2f6;
	--text-white-mute: #7986ae;
}

.sign-container {
	display: flex;
	flex-direction: column;
	padding: 40px 4rem;
	width: 100%;
}
.sign-container .back {
	width: 92px;
	font-weight: 500;
}
.sign-container .form {
	width: 60%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	margin: 0px auto;
}
.sign-container .form .header h1 {
	text-align: center;
	color: #2690d4;
}
.sign-container .form .header {
	text-align: center;
	color: var(--text-header);
	margin-bottom: 16px;
}
.login-form {
	margin-bottom: 80px;
}
@media screen and (max-width: 500px) {
	.sign-container .form .header h1 {
		font-size: 1.4rem;
	}
	.sign-container .form {
		width: 80%;
		margin-top: 40px;
	}
}
@media screen and (max-width: 410px) {
	.sign-container {
		padding: 20px 2rem;
	}
	.sign-container .form {
		width: 96%;
	}
}
